main {
  text-align: center;
  justify-content: center;
  font-family: monospace;
  font-size: large;
}

input {
  border: none;
  border-bottom: 0.5px solid;
  padding: 10px;
  margin: 5px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid;
}

button {
  outline: none;
  border: 0;
  margin: 10px;
  padding: 5px;
}

.deez {
  padding:15px;
  color: black;
}

.stonks {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.errmsg {
  color: red;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.success {
  color: limegreen;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}